<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 is-uppercase has-text-weight-medium">About</h1>
      <hr class="has-background-black">
      <div class="columns">
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
          <figure class="image">
            <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
          </figure>
        </div>
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
          <p>{{site.author-about-long}}</p>
          <br>
          <div class="container columns is-centered">
            <div>
              <a href="{{site.url}}{{site.baseurl | relative_url}}/assets/docs/resume.pdf" target="_blank" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">
                Resume
              </a>
            </div>
            <div>
              <a href="{{site.url}}{{site.baseurl | relative_url}}/#contact" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">
                Contact me
              </a>
            </div>
            <div>
              <a href="{{site.url}}{{site.baseurl | relative_url}}/projects" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">
                Projects
              </a>
            </div>
          </div>
        </div>
      </div>
</section>