---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered" id="project-page">
        <div class="section">
          <h1 class="title is-1 is-uppercase has-text-weight-bold">
            {{ page.title }}
          </h1>
          <hr class="has-background-black">
          <div class="container">
            <div class="columns">
              {% if page.video_link %}
              <div class="column is-one-third-desktop is-one-third-fullhd is-one-third-tablet">
                <div class="video-wrapper">
                  <iframe width="1280" height="720" src="{{ page.video_link }}" title="{{ page.title }}" frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                  </iframe>
                </div>
              </div>
              {% endif %}
              <div class="column content has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                {{ content }}
                {% if page.link %}
                <div>
                  <a href="{{ page.link }}" target="_blank" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">
                    Open project page
                  </a>
                </div>
                {% endif %}
              </div>
            </div>
            <hr class="has-background-black">
            {% for screenshot in page.screenshots %}
            {% assign u = screenshot | split: "/" | first %}
            {% case u %}
            {% when "http:", "https:" %}
            <img src="{{ screenshot }}" />
            {% else %}
            <img src="{{ site.url }}{{ site.baseurl | relative_url }}/{{ screenshot }}" />
            {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Footer begins here-->
  {% include footer.html %}
</body>

</html>